@use "@carbon/styles/scss/spacing" as *;
@use "@carbon/styles/scss/colors" as *;

.header {
  position: relative;
  padding: 0 get-spacing(5);
  background-color: var(--cds-ui-01);
  border-bottom: 1px solid var(--cds-border-subtle);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.userAvatarAction {
  cursor: pointer;

  &:focus {
    outline: 2px solid var(--cds-focus);
  }
}

.userAvatarLetter {
  width: 32px;
  height: 32px;
  background-color: #0f62fe;
  color: white;
  font-weight: bold;
  font-size: 16px;
  line-height: 32px;
  border-radius: 50%;
  text-align: center;
  user-select: none;
  display: inline-block;
  font-family: "IBM Plex Sans", sans-serif;
}
